@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

#__next {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

:root,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
